<ul class="list-group">
  {{#each bandas}}
      <li class="list-group-item"><p>NOMBRE:<a href="mostrar_banda/{{id_banda}}">{{nombre}}</a><p>
        ESTILO:{$banda['estilo']}<a href="eliminar/{{id_banda}}"><p>eliminar</a>
        <a href="editar/{{id_banda}}">editar</a></li>
{{/each }}
</ul>
