
{{#each comentarios}}

    <div class="mb-3">

      <div class="list-group">
        <div class="list-group-item active">
          <h4 class="list-group-item-heading">{{idUsuario}} | Puntaje: {{puntaje}}</h4>
          <p class="list-group-item-text">{{comentario}}</p>
        <button type="submit" value="{{id_comentario}}" class="btn btn-lg btn-borrarComentario">BORRAR</button>
        </div>
      </div>

    </div>

    {{/each}}
